.contactContainer {
    background-color: #ccc;
}

.contactLayout {
    grid-template-columns: none;
}

.bookmarkLayout {
    display: flex;
    align-items: center;
}

.bookmarkIcon {
    margin-right: 1em;
}

.bookmarkCategory {
    color: blue;
}